<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<script src="/js/script.js" defer></script>

<body class="container">

  <header>
    <%- include('../partials/header'); %>
  </header>

  <main>
    <div class="jumbotron">
      <h1>Trustly Payment Integration</h1>
      <p>We need Trustly so people can pay for things!</p>

      <h3>Choose a Deposit Amount</h3>
      <form id="deposit-form">
        <div class="form-group">
          <label>
            <input type="radio" name="depositAmount" value="10.00"> $10
          </label>
          <label>
            <input type="radio" name="depositAmount" value="25.00" checked> $25
          </label>
          <label>
            <input type="radio" name="depositAmount" value="50.00"> $50
          </label>
          <label>
            <input type="radio" name="depositAmount" value="100.00"> $100
          </label>
        </div>
      </form>

      <div id="trustly-select-widget" class="mt-5">
        <h3>Choose a deposit method</h3>
        <!-- Placeholder for Trustly Select Bank Widget -->
        <div id="trustly-widget-id"></div>
      </div>
    </div>
  </main>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>
  <script defer>
    const accessId = "<%= accessId %>";
    const merchantId = "<%= merchantId %>";
    const displayAmount = document.querySelector('input[name="depositAmount"]:checked')?.value || "0.00";
    let options = {
      hideCloseButton: true,
      widgetContainerId: "trustly-widget-id"
    };

    let establishData = {
      accessId: accessId, //Access ID provided by Trustly
      merchantId: 1020,
      paymentType: "Deferred",
      displayAmount: document.querySelector('input[name="depositAmount"]:checked')?.value || "0.00",
      amount: "0.00", //Amount in minor units
      currency: "USD", //Currency
      merchantReference: "123456789", //Unique reference
      description: "Payment for order #123456789", //Message to customer
      customer: {
        email: "john.doe@example.com", //Email address
        name: "John Doe",
      },
      returnUrl: "/trustly-return",
      cancelUrl: "/deposit-cancel",
      notificationUrl: "https://c82a-75-104-94-234.ngrok-free.app/webhook-listener"
    };
    // if (displayAmount !== "0.00") {
        Trustly.selectBankWidget(establishData, options);
    // }
      

    document.getElementById('deposit-form').addEventListener('change', function () {
      const selectedAmount = document.querySelector('input[name="depositAmount"]:checked').value;
      establishData.displayAmount = selectedAmount;
      establishData.amount = selectedAmount;
      document.getElementById('trustly-widget-id').innerHTML = '';
      Trustly.selectBankWidget(establishData, options);
    });
  </script>

</html>