<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="alert alert-success mt-4" role="alert">
            <h4 class="alert-heading">Success!</h4>
            <p>Transaction successfully created!</p>
        </div>
        <div class="card mt-4">
            <div class="card-body">
                <h5 class="card-title">Transaction Details</h5>
                <p class="card-text"><strong>Transaction ID:</strong> <%= transactionId %></p>
                <p class="card-text"><strong>User ID:</strong> <%= userId %></p>
            </div>
        </div>
    </main>

    <footer class="mt-5">
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>